
*{
    font-family: bol;
}
.space{
    color: #EFF3EA;
}
.div2{
    margin-left: 0;
}
h3{
    margin-top: 5px;
    overflow: auto;
}
a{
    background-color: rgb(23, 23, 23);
    padding: 5px;
    text-align: center;
    padding-right: 35px;
    color: rgb(255, 255, 255);
    border-radius: 7px;  
}
a:hover{
    background-color: rgb(8, 8, 8);
    box-shadow: 0px 0px 25px black;
}
body{
    display: grid;
    place-items: center;
    background-color: #EFF3EA;
    overflow-y: scroll;
}
.img{
    position: center;
}
#wraper {
    width: 260px; /* Consistent width */
    height: 450px; /* Consistent height */
    border-radius: 25px;
    position: relative; /* Align cards side by side */
    align-self: center;
    margin: 10px 25px 19px 15px; /* Same margins for all */
    overflow: hidden;
}
#wraper2{
    width: 260px; /* Consistent width */
    height: 450px; /* Consistent height */
    border-radius: 25px;
    position: relative;/* Align cards side by side */
    align-self: center;
    margin: 10px 25px 19px 15px; /* Same margins for all */
    overflow: hidden;
}
#overl{
    position: absolute;
    background-image: linear-gradient(transparent, transparent, rgb(0, 0, 0, 0.863), rgb(0, 0, 0));
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

.h{
    margin-top: 90%;
    text-align: left ;
    padding-left:15px;
    font-family: bol;
    color: white; 
    opacity: 0;
}
.I{
    font-size: 17px;
}
p{
    padding-left: 15px;
    text-align: left ;
    font-family: bol;
    color: rgb(255, 233, 233); 
    opacity: 0;
    margin-top: -15px;
}
#wraper:hover .h{
    opacity: 1;
    transform: translateY(05px);
    -moz-transition: ease-in-out;
    transition-duration: 0.6s;
}
#wraper:hover{
    box-shadow: 0px 0px 20px black;
    
    -moz-transition: ease-in-out;
    transition-duration: 0.5s;
}
#wraper:hover .p{
    opacity: 1;
    transform: translateY(10px);
    -moz-transition: ease-in-out;
    transition-duration: 1s;
}
/*2*/
#wraper2:hover .h{
    opacity: 1;
    transform: translateY(05px);
    -moz-transition: ease-in-out;
    transition-duration: 0.6s;
}
#wraper2:hover{
    box-shadow: 0px 0px 20px;
    -moz-transition: ease-in-out;
    transition-duration: 0.5s;
}
#wraper2:hover .p{
    opacity: 1;
    transform: translateY(10px);
    -moz-transition: ease-in-out;
    transition-duration: 1s;
}


@font-face {
    font-family: bol;
    src: url(Protofo-Bold.otf);
}
@media(min-width:900px) {
    #wraper{
        float:left;
    }
    #wraper2{
        float:left; 
    }
    
}
